body {
    max-width: 400px;
    min-height: 300px;
    background-color:#000000;
    font-size: 16px;
    color:white;
  }
  h1 {

    color: #571E51;
    font-family: 'Trebuchet MS';
    text-align: center;
    padding-top:2px;
  }
  p {
    color: rgb(180, 183, 224);
  }

 #output { 
    color:rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding: 5px;
    background-color:#E0E0E2;
    font-style: italic;
    font-weight: bold;
} 

#output:hover { 
    outline: none;
    border-color: #aedbff;
    box-shadow: 0 0 10px #aedbff;
}

#box {
    height: 40px;
    width: 400px;
    background-color: #38363ac5;
    border-radius: 5px;
  }

  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #00ccff;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

  .animate-charcter
  {
    background-image: linear-gradient(
      -225deg,
      #2ddaf8 0%,
      #1ed154 29%,
      #ff1361 67%,
      #fff800 100%

    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }